*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html{

   font-size: 10px;
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

#wrap{
   background-color: aliceblue;
}

.section_title{
   font-size: 3.8rem;
   color: #000000;
   margin-bottom: 20px;
   text-align: center;
}

.section_title span{
   color: cornflowerblue;
}

.source {
   color: lightslategray; font-size: 12px;
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

.content p {
   margin-bottom: 15px;
}

.content{
   font-size: 1.5rem;
   margin-top: 5px;
   line-height: 2.5rem;
   padding:  0px 10px;
}

/*헤더 시작*/
#head {
   position: fixed;
   z-index: 100;
   left: 0;
   top: 0;
   width: 100vw;
   height: 90px;
   min-height: 8vh;
   padding-top: 7px;
}

#head .nav_bar{
   display: inline-flex;
   align-items: center;
   justify-content: space-between; /*첫 플렉스 항목과 마지막 항목을 시작점과 끝점에 배치 후 중앙 항목을 같은 간격으로 배치*/
   width: 100%;
   height: 100%;
   max-width: 1200px;
   padding: 0 10px;
}

#head nav ul{
   list-style-type: none;
   position: absolute;
   width: 100vw;
   height: 100wh;
   left: 0;
   top: 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   z-index: 1;
   overflow-x: hidden;
   padding: 5px 20px 0 30px;
}

#head h1 a{
   color: white;
   padding-left: 7px;
   font-size: 2.5rem;
}

#head h1 a span {
   color: cornflowerblue;
}

.logo {
   z-index: 50;
}

#head nav ul a {
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: .2rem;
   color: #ffffff;
   padding: 0px 10px;
}

#head nav ul a:hover{
   color: cornflowerblue;
}

#head nav ul li {
   font-size: 1rem;
   font-weight: 300;
   color: #ffffff;
   padding: 10px 5px 0px 0px;
   margin-top: 50px;
}

/*헤더 끝*/


/*메인화면*/
#main {
   background-image: url("data.jpg");
   background-size: cover; /*이미지가 조금 잘리더라도 빈 공간이 생기지 않도록 제일 크게 설정 (이미지가 찌그러지지않게)*/
   /*contain으로 하면 이미지 잘리지 않지만 부족한 부분은 같은 이미지 반복해 채움*/
   position:  relative;
   z-index: 1;
   color: white;
}

#main::after{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: #000000;
   opacity: .7;
   z-index: -1;
}

#main h1 {
   display: block;
   width: fit-content;
   font-size:  4rem;
   position: relative;
   color: transparent;
   animation: text_appear .7s ease forwards;
   /* forwards 애니메이션이 끝나면 애니메이션 마지막 키프레임의 css 스타일 유지 */
   animation-delay: .7s;
}

#main h1:nth-child(1){
   animation-delay: .7s;
}

#main h1:nth-child(2){
   anmation:  text_appear_title .7s ease forwords;
   animation-delay: 1.4s;
}

@keyframes text_appear{
   100%{
      color: white;
   }
}

#main h1 span { 
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
   background-color: powderblue;
   animation: text_appear_ani .7s ease;
   animation-delay: .5s;
}

#main h1:nth-child(1) span{
   animation-delay: .5s;
}

#main h1:nth-child(2) span{
   animation-delay: 1.2s;
}

@keyframes text_appear_ani{
   50%{
      width: 100%;
      left: 0;
   }
   100%{
      width: 0;
      left: 100%;
   }
}

#main .main_container {
	min-height: 100vh; /*이 이상 화면을 줄일 수 없도록*/
	width: 100%;
	display: flex;
	align-items: center;
	max-width: 1200px;
	margin: 0px;
	padding: 0 50px;
}

.ctbtn{
   display: inline-block;
   padding:  10px 30px;
   color: white; 
   background-color: transparent; /*투명배경*/
   border: 2px solid powderblue;
   font-size: 2rem; /*rem : 문서의 최상위 요소인 html 요소의 몇배인지로 크기 설정*/
   letter-spacing: .1rem; /*글자사이간격*/
   margin-top: 30px;
   transition: .3s ease background-color; /*ease 기본값:  느려졌다가 빨라졌다가 느려짐*/
}

.ctbtn:hover{ 
   background-color: powderblue;
}

#date {
   font-size: 1.3rem;
   position: absolute;
   right: 0;
   bottom: 0;   
   margin: 15px 13px;
}

/*메인 끝*/



/*정의 시작*/
#definition {
   flex-direction: column;
   text-align: center;
   max-width: 1200px;
   margin: auto;
   padding: 100px 0 50px 0;
}

/*정의끝*/


/*프로세스 시작*/
#process {
   flex-direction: column;
   text-align: center;
   max-width: 1200px;
   margin: auto;
   padding: 50px 0;

}

#process .container {
   max-width: 1200px;
}


#process .process_items{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
}

#process .process_item{
   height: 300px;
   flex-basis: 80%; /*플렉스 아이템의 초기 크기*/
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column; 
   padding: 30px;
   border-radius: 10px;
   background-image: url("item_back.png");
   background-size: cover;
   margin: 10px;
   position: relative;
   color: #ffffff;
   overflow: auto;
}

#process .icon{
   font-size: 2rem;
   margin-bottom: 10px;
}

#process .process_item h2{
   font-size: 2rem;
   margin-bottom: 10px;
}

#process .process_item p{
   text-align: left;
   font-size: 1.3rem;   
}
/*프로세스 끝*/

/*기법 시작*/
#technique {
   flex-direction: column;
   text-align: center;
   max-width: 1200px;
   margin: auto;
   padding: 50px 0;
}

/*기법 끝*/

/*뉴스 시작*/
#reference{
   max-width: 1200px;
   padding: 50px 0;
   margin: auto;
   text-align: center;
}

#reference .content iframe {
   margin: 10px;
   background-color: white;
}

/*뉴스 끝*/

/*사례*/

#usecase{
   flex-direction: column;
   text-align: center;
   max-width: 1200px;
   margin: auto;
   padding: 50px 0;
}

#usecase .content div{
   display: flex;
   justify-content: center;
    margin-bottom: 15px;
}

#usecase img{
	width: 225px;
	height: 225px;
	margin: 0 5px;
}


/*사례*/

/*퀴즈시작*/
#quiz {
   display: flex;
   align-items: center;
   justify-content: center;
   height: auto;
   overflow: hidden;
   margin: 50px 0;
   padding-bottom: 10px;
   flex-direction: column;
}

#quiz .container {
   padding: 20px;
   background-color: #ffffffac;
   border-radius: 10px;
   box-shadow: 0 0 10px 2px #00000028;
   overflow: hidden;
}

#quiz_header {
   padding: 10px 40px 20px 40px;
   flex-direction: column;
}

#timer {
   text-align: center;
   font-size: 2rem;
   margin: 20px 0;
}

#quiz_answers{
   visibility: hidden;
}

h2 {
   text-align: center;
   margin: 0;
}

ul {
   list-style-type: none;
   padding: 0 0 20px 15px;
}

ul li {
   font-size: 1.5rem;
   margin: 10px 0;
}

ul li label {
   cursor: pointer;
}

button {
   background-color: cornflowerblue;
   color: #fff;
   border: none;
   display: block;
   width: 100%;
   cursor: pointer;
   font-size: 1.1rem;
   font-family: inherit;
   padding: 1.3rem;
}

button:hover {
   background-color: royalblue;
}

button:focus {
   outline: none;
   background-color: darkblue;
}
/*퀴즈끝*/


/*contact 시작*/
#contact{
   flex-direction: column;
   max-width: 1200px;;
   margin: 0 auto;
   padding: 50px 0;
}

#contact .contact_box{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: cetner;
   padding: 20px;
}

#contact .contact_item{
   background-color: white;
   width: 80%;
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   padding: 30px;
   margin: 10px;
   display: flex;
   justify-content: space-evenly;
   align-items: cetner;
   flex-direction: column;
   box-shadow: 0px 0px 5px 0 #0000002c; /*뒤에 2자리는 투명도*/
}

#contact .contact_item:hover{
   box-shadow: 0px 0px 15px 0 #0000002c;
}

#contact .icon{
   font-size: 50px;
   margin-bottom: 10px;
}

/*contact 끝*/

/*footer 시작*/

#foot{
   background-color: #586475; 
   min-height: 150px;
   flex-direction: column;
   padding-top: 30px;
   padding-bottom: 10px;
   text-align: center;
   color: white;
}

#foot .subject {
   font-size: 2rem;
}

#foot .subject span{
   color: cornflowerblue;
}

#foot .foot_items{
   display: flex;
   justify-content: center;
   margin: 25px 0px;
}

#foot .icon a i{
   font-size: 3.5rem;
   color: white;
   margin: 0px 10px;
   padding: 4px;
}

#foot .icon a i:hover{
   box-shadow: 0 0 5px 0 #ffffff;
}

#foot .subject h2 {
   font-size: 1.5rem;
   margin: 10px 0;
}

/*footer 끝*/